{% extends '::base.html.twig' %}

{% block head %}
	<style id="dynamic_style"></style>

{% endblock %}

{% block body -%}


    <h1>Media creation</h1>
	<div id="dnd"></div>
	{{form_start(form)}}

    <input type="file" onchange="upload(this.files[0])" /><br/>
    <input type="text" name="link" id="linkimage" value="">
    <div id="progress"><div id="progress_inner">0%</div></div>
	
	{{form_end(form)}}
	<ul class="record_actions">
		
	    <li>
	        <a href="{{ path('_project_showOne', { 'id':  id }) }}">
	            Back to the project
	        </a>
	    </li>
	</ul>

	<script>

	    function upload(file) {    
			if (!file || !file.type.match(/^image\/.+/)) return;    
			console.log("Uploading file: "+file.name);
			
			if (typeof FileReader != 'undefined') {
			    var reader = new FileReader();
			    reader.onload = function (event) {
			      var image = new Image();
			      image.src = event.target.result;
			      image.style.maxHeight = "450px";
			      
			      dnd.innerHTML = "";
			      dnd.appendChild(image);
			      dnd.appendChild(title = document.createElement('p'));
			      title.innerHTML = file.name + ' (' + Math.round(file.size/1024|0) + 'Kb)';
			    };
			    reader.readAsDataURL(file);
			}
			
			var fd = new FormData(); 
			fd.append("image", file); 
			var xhr = new XMLHttpRequest(); 
			xhr.open("POST", "https://api.imgur.com/3/image.json"); 
			xhr.onload = function() {    
			    var link = JSON.parse(xhr.responseText).data.link;
			    pi.style.width = "100%";
			    setTimeout(function(){pi.style.width = "0%;"},700);
			    document.body.appendChild(span = document.createElement('p'));
			    title.innerHTML += ' : ' + link;
			    var input = document.getElementById('linkimage');
			    input.value = link;	
			    // document.getElementById('image_link').value = link;
			    $.cookie('image_link', link);
			}
			if ("upload" in new XMLHttpRequest) {
			    document.getElementById('progress').style.display = 'block';
			    pi = document.getElementById('progress_inner');
			    xhr.upload.onprogress = function (event) {
					if (event.lengthComputable) {
					  var complete = (event.loaded / event.total * 100 | 0);
					  pi.style.width = complete+"%";
					  pi.innerHTML = complete+"%";
					  console.log(pi.innerHTML);
					}
			    }
			}
			
			xhr.setRequestHeader('Authorization', 'Client-ID 28aaa2e823b03b1');
			xhr.send(fd);
	    	}
	
	</script>
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
{% endblock %}
{% endblock %}
