{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Donation</h1>

    <table class="record_properties">

        <tbody>
            {% for entity in entities %}
                <tr>
                    {% if entity.hidden != true %}
                        <th>Amount</th>
                        <td>{{ entity.amount }}</td>    
                    {% endif %}
                    
                    <th>Login</th>
                    <td>{{ entity.user.login }}</td>
                </tr>
            {% endfor %}            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('_project_showOne', {'id': project_id}) }}">
            Back to the project
        </a>
    </li>
</ul>
{% endblock %}
